<div class="row">
		<div class="col-sm-2">
				{{business.id}}
		</div>
		<div class="business-info col-sm-3">
				{{#link-to "business" business.id}}
						<span>{{business.name}}</span><br>
				{{/link-to}}
				<span>{{business.phone}}</span><br>
				<span>{{business.address}}</span><br>
				Currently Open
		</div>
		<div class="col-sm-5">
				<img class="mainImage" alt={{business.name}} src={{business.photo_url}} ><br>
		</div>
		<div class="col-sm-1">
				{{#link-to "map" business.id}}
						<a href="#" class="btn btn-info btn-lg">
								<span class="glyphicon glyphicon-map-marker"></span> Map
						</a>
				{{/link-to}}
				<StarButton 
						data-test="business-star" 
						@defaultText="Save"
						@pendingText="Saving" 
						class="{{business.saved}} star" 
						@saved={{business.saved}} 
						@onClick={{action "star" business}} 
				/>
		</div>
</div>