<div class="row">
		<div class="col-sm-2">
				{{!-- <div class="cocpntainerdiv">
						<div>
								<img class="star-image" src="images/stars_blank.png" alt="img">
						</div>
						<div class="cornerimage" style="width:{{rate}}%;">
								<img class="star-image" src="images/stars_full.png" alt="">
						</div>
				</div><br> --}}
				{{business.id}}
		</div>
		<div class="col-sm-3">
				{{#link-to "business" business.id}}
						{{business.name}}<br>
				{{/link-to}}
				{{business.phone}}<br>
				{{business.address}}<br>
				Currently Open
		</div>
		<div class="col-sm-5">
				<img class="mainImage" alt={{business.name}} src={{business.photo_url}} ><br>
		</div>
		<div class="col-sm-1">
				{{#link-to "map" business.id}}
						<a href="#" class="btn btn-info btn-lg">
								<span class="glyphicon glyphicon-map-marker"></span> Map
						</a>
				{{/link-to}}
				<StarButton 
						data-test="business-star"  
						class="{{business.saved}} star" 
						@saved={{business.saved}} 
						@onClick={{action "star" business}} 
				/>
		</div>
</div>